<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo_test02【Api】</title>
</head>
<body>
<script type="text/javascript" th:src="@{/static/H-ui.admin/lib/jquery/1.9.1/jquery.min.js}">
</script>

[[${Pub_RealPath}]]
<hr/>

<button id="btn">点击我_访问Api_data</button>
<button id="btn2">点击我_访问Api_err</button>
<div id="msg"></div>


<script type="text/javascript">
    $(function() {
        $("#btn").click(function() {
            $.getJSON("Api_data", function(jsonobj) {
                //var obj = jquery.parseJSON(data);
                if (jsonobj.code > 0) {

                    var str = "";
                    $.each(jsonobj.data, function(i, item) {
                        str += "<br/>" + item.userName;
                    });
                    //alert(str);
                    $("#msg").html(str);
                }
                else
                {
                    $("#msg").html(jsonobj.desc);

                }
            });
        });
        $("#btn2").click(function() {
            $.getJSON("Api_err", function(jsonobj) {
                //var obj = jquery.parseJSON(data);
                if (jsonobj.code > 0) {

                    var str = "";
                    $.each(jsonobj.data, function(i, item) {
                        $("#msg").html($("#msg").html() + "<br/>" + "出错了。");
                    });
                }
                else
                {
                    $("#msg").html(jsonobj.desc);
                }
            });
        });
    });

</script>
</body>
</html>

